/****************** Font styling *********************/
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

body {
  width: 100% !important;
  background-color: #f5f5f5 !important;
  font-family: "Nunito";
  margin-left: 0;
  margin-right: 0; }

#first-header {
  background-color: #6699cc; }
  #first-header .logo {
    color: #ffffff;
    font-weight: bold;
    text-align: center; }

#second-header {
  background-color: #ffffff;
  border-bottom: 0.1rem solid #6699cc; }

.blog-post {
  margin: 4.8% 1%;
  padding: 2.5%;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; }
  .blog-post a {
    color: #000000; }
  .blog-post button {
    color: #000000 !important;
    margin-top: 1%;
    font-size: 80%; }
    .blog-post button:hover {
      color: #000000 !important;
      cursor: pointer;
      background-color: #f5f5f5; }
    .blog-post button:focus, .blog-post button:active {
      background-color: none !important; }
  .blog-post img {
    padding-left: 1%;
    margin-top: 1%;
    width: 30%;
    height: auto;
    float: right; }

.single-post {
  margin-top: 4.8%; }
  .single-post .post-img {
    margin-bottom: 2%;
    width: 100%;
    height: auto; }
  .single-post a {
    text-decoration: none !important; }

.comments {
  margin-bottom: 15%; }

aside .card {
  margin: 15% 1% 0 1%; }
  aside .card:last-child {
    margin-bottom: 7% !important; }

.page-item {
  width: 100%;
  padding-right: 2%; }

.social-icons img {
  margin: 1%; }

@media only screen and (max-width: 767px) {
  .social-icons img {
    width: 11%;
    padding: 1%; }
  .card {
    margin: 4% 1% 0 1% !important; } }

textarea:focus,
input:focus {
  background-color: none !important;
  border-color: #000000 !important;
  box-shadow: none !important; }

.btn-outline-primary {
  border-color: #000000 !important; }
  .btn-outline-primary:focus {
    color: #000000;
    background-color: none !important;
    border-color: #000000 !important;
    box-shadow: none !important; }

.list-group-item {
  padding: 0.2rem 0 !important;
  border: 1px solid transparent !important; }

@media only screen and (min-width: 1176px) {
  .container-fluid {
    max-width: 1150px !important; } }

@media only screen and (min-width: 500px) and (max-width: 991px) {
  html,
  body {
    margin: 0 !important; }
  html {
    font-size: 90%; }
  .blog-post {
    margin-top: 5%; } }

@media only screen and (min-width: 576px) {
  #single-post-header,
  .mobile-show {
    display: none; }
  .current {
    border-bottom: 0.3em solid #1a237e; }
  .bottom-menu {
    display: none !important; }
  .pagination {
    padding: 3% 30% 0 30%; }
  footer {
    color: #ffffff;
    padding: 2%;
    background-color: #6699cc; }
    footer a {
      color: #ffffff; } }

@media only screen and (min-width: 0) and (max-width: 575px) {
  body {
    min-width: 320px !important; }
  *, *:before, *:after {
    box-sizing: border-box; }
  aside,
  .footer,
  .mobile-hide,
  .blog-post p {
    display: none !important; }
  .container-fluid {
    padding: 0 !important;
    margin: 0 !important; }
  .carousel-control-prev,
  .carousel-control-next {
    width: 25% !important;
    padding-left: 2%; }
  html {
    font-size: 81%; }
    html h2 {
      font-size: 150%; }
  .logo {
    padding-top: 0.5rem; }
  #first-header,
  #second-header {
    z-index: 999; }
  #single-post-header {
    height: 5em;
    padding: 5%; }
    #single-post-header a {
      font-size: 120%;
      color: #ffffff; }
      #single-post-header a:hover {
        text-decoration: none; }
  #second-header,
  #single-post-header {
    background-color: #6699cc;
    border-bottom: 0 solid transparent; }
    #second-header .nav-link,
    #single-post-header .nav-link {
      color: #ffffff; }
  .current {
    color: #ffffff;
    border-bottom: 0.3em solid #1a237e; }
  .blog-post {
    top: 25%;
    margin: 1%;
    padding: 2%; }
    .blog-post button {
      margin-top: 3%;
      font-size: 70%; }
      .blog-post button:hover {
        cursor: pointer;
        background-color: #f5f5f5; }
    .blog-post .pagination {
      padding: 5% 8% 18% 8%; }
  section .comments {
    margin-bottom: 15% !important; }
  footer .fixed-bottom a {
    font-size: 85%;
    color: #000000;
    display: inline-block; }
  footer .bottom-menu {
    padding: 1%;
    border-top: 0.3em solid #f5f5f5;
    background-color: #ffffff;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    position: fixed;
    z-index: 400; }
  .col-25 {
    width: 25%;
    float: left; }
  .mobile-menu-wrapper {
    background-color: #ffffff;
    height: 100%;
    padding-top: 1em;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
    border: 1em solid #ffffff;
    z-index: 500; }
  .mobile-menu-item {
    width: 50%;
    float: left; }
  .nav-visible .mobile-menu-wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible; }
  .nav-visible .mobile-menu {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  .mobile-menu-wrapper #second-header {
    border-bottom: none; }
  .mobile-menu a.currentPage {
    color: #1a237e; }
  .mobile-menu a {
    color: #6699cc !important;
    width: 49%;
    height: 7.4em;
    font-size: 100%;
    display: block;
    line-height: 1.2;
    padding: 4.5% 1%;
    text-align: center;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 0.15em solid lightgray;
    border-radius: 0.2em;
    text-align: center;
    display: block;
    margin: 0.05rem;
    z-index: 500; }
    .mobile-menu a:hover {
      border: none;
      background-color: #f5f5f5; }
  .close-menu {
    cursor: pointer;
    margin-right: 4%;
    position: absolute;
    right: 0.8%; }
  .category-header {
    margin: 0.5% 2%;
    padding-bottom: 3%; }
    .category-header img {
      padding-top: 6%; }
  .mobile-menu a:focus, .mobile-menu a:hover {
    text-decoration: none;
    border-bottom: none; }
  .input-group {
    width: 98.5% !important;
    padding: 2% 0 !important; }
    .input-group input {
      font-size: 200% !important; }
      .input-group input:focus {
        border: none !important; } }

@media only screen and (min-width: 501px) and (max-width: 575px) {
  .blog-post img {
    width: 27.5%;
    margin: 1% 0;
    padding-left: 1%; }
  .mobile-menu img {
    width: 23%; }
  .mobile-menu a {
    padding: 2% 1%; }
  footer img {
    width: 25%;
    height: auto;
    padding-bottom: 5%;
    margin: 0 25%; } }

@media only screen and (min-width: 480px) and (max-width: 500px) {
  .blog-post img {
    width: 30%;
    margin: 1% 0;
    padding-left: 1%; }
  .mobile-menu img {
    width: 28%; }
  .mobile-menu a {
    padding: 3.2% 1%; }
  footer img {
    width: 26%;
    height: auto;
    padding-bottom: 3%;
    margin: 0 25%; } }

@media only screen and (min-width: 391px) and (max-width: 479px) {
  .blog-post img {
    width: 32%;
    margin-top: 1%;
    padding-left: 1%; }
  .mobile-menu img {
    width: 28%; }
  .mobile-menu a {
    padding: 3.5% 1%; }
  footer img {
    width: 27%;
    height: auto;
    padding-bottom: 5%;
    margin: 0 25%; } }

@media only screen and (min-width: 0) and (max-width: 390px) {
  .blog-post img {
    width: 35%;
    margin-top: 1%;
    padding-left: 2%; }
  html {
    font-size: 75%; }
    html h2 {
      font-size: 140%; }
  .mobile-menu img {
    width: 30%; }
  .mobile-menu a {
    padding: 5.3% 1%; }
  footer img {
    width: 28%;
    height: auto;
    padding-bottom: 5%;
    margin: 0 25%; } }
