/* ***************** Font styling *********************/

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-Italic.ttf') format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-BlackItalic.ttf') format("truetype");
    font-weight: 900;
    font-style: italic;
}

body {
    width: 100%;
    background-color: #f5f5f5 !important;
    min-width: 320px !important;
    font-family: "Nunito";
    margin-left: 0;
    margin-right: 0;
}

.container {
    margin: 4% auto 0 auto !important;
}

#first-header {
    background-color: #6699cc;
    .logo {
        color: #ffffff;
    }
}

#second-header {
    background-color: #ffffff;
    border-bottom: 0.1rem solid #6699cc;
}

.blog-post {
    margin: 3%;
    padding: 2%;
    background-color: #ffffff;
    button {
        margin-top: 3%;
        &:hover {
            cursor: pointer;
            background-color: #f5f5f5;
        }
    }
}

.sidebar {
    margin: 10% 4%;
    padding: 2% 0 2% 6%;
    background-color: #ffffff;
    clear: left;
}

.input-group {
    padding: 3% 6% 3% 0;
    width: 50%;
}

.page-item {
    width: 100%;
    padding-right: 2%;
}

.post-img {
    width: 30%;
    height: auto;
}

.social-icons {
    img {
        padding: 4% 5%;
    }
}

.cat {
    line-height: 0.5;
    color: #000000;
    a {
        margin-left: 0;
        color: #6699cc;
        &:hover {
            text-decoration: none;
        }
    }
}

.col-md-8 {
    margin: 0 !important;
}

footer {
    color: #ffffff;
    background-color: #6699cc;
    min-height: 4em;
    a {
        color: #ffffff;
    }
}

@media only screen and (min-width: 500px) and (max-width: 991px) {
    html,
    body {
        margin: 0 !important;
    }
    html {
        font-size: 90%;
    }
    .blog-post {
        margin-top: 5%;
    }
}

@media only screen and (min-width: 1176px) {
    .container-fluid {
        max-width: 1150px !important;
    }
}